<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet"> 
<style>
    #fin{
        font-family: 'Baloo Tammudu', cursive;
    }
</style>

<iframe style="height: 82%; width: 100%"    src="http://fliphtml5.com/login.php?register">

</iframe>
<br>
<div class="continua" style="height: 18%; word-break: 98%; align-items: center"> 
    <form method="post" action="/convertidor_revista" id="validation-form">
        <div class="form-group" >
            <label for="exampleInputEmail1">URL</label>
            <input type="url" name="url_revista" id="url_revista" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="url revista" required>
            <small id="emailHelp" class="form-text text-muted">Ingrese la url de la revista creada.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Link</label>
            <input type="url" name="portada" id="portada" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="link de la portada" required>
            <small id="emailHelp" class="form-text text-muted">Ingrese la url de la imagen de portada para la revista.</small>
        </div>
        <button type="submit" class="btn btn-primary">Finalizar</button>
    </form>

</div>
