<link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet"> 
<style>
    #a{
        font-family: 'Baloo Tammudu', cursive;
    }
</style>
<iframe style="height: 90%; width: 100%"    src="https://www.ilovepdf.com/es/unir_pdf">

</iframe>
<br>
<div style="text-align: center" class="continua"> 
    <button style="color: red; height: 8%; width: 15%" onclick="location.href='/convertir_a_revista'"><a id="a">Continuar<a></button>
</div>
+