
<html>
    <head>
        <title>Dimension by HTML5 UP</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href='/stylesheets/main_1.css' />
        <noscript><link rel="stylesheet" href='/stylesheets/noscript_1.css' /></noscript>

    </head>
    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <img width="60%" style="padding-top: 16.5px" src='/images/transparente.png'>
                </div>
                <div class="content">
                    <div class="inner">
                        <h1>News Systems</h1>
                        <p>Una revista de informaticos para informaticos y la comunidad</p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="#introduccion">Acerca de</a></li>
                        <li><a href="#trabajo">Trabajo</a></li>
                        <li><a href="#nosotros">Autores</a></li>
                        <li><a href="#login">Acceder</a></li>
                    </ul>
                </nav>
            </header>

            <!-- Main -->
            <div id="main">

                <!-- Introduccion -->
                <article id="introduccion">
                    <h2 class="major">Introducción</h2>
                    <span class="image main"><img src='/images/portadas/foto.jpg' alt="" /></span>
                    <p>News Systems es una revista que se enfoca en presentar las noticias que se generan dentro de la carrera de Sistemas y la Universidad en general para presentarlas a los estudiantes que se interesen en los diferentes temas que se generan y afectan sus estudios o a la Institución en donde los resiven, ya sean estos positivos o negativos</p>
                    <p></p>
                </article>

                <!-- Trabajo -->
                <article id="trabajo">
                    <h2 class="major">Trabajo</h2>
                    <span class="image main"><img src='/images/portadas/foto.jpg' alt="" /></span>
                    <p>Las noticias presentadas en nuestra revista son de caracter informativo, educativo y social, para un publico interesado en la visión que los estudiantes tienen de su carrera, los eventos y situaciones que en ella se generan.</p>
                    <p>Las notas publicadas en este sitio no son publicaciones de los creadores de la pagina, sino una colaboración conjunta entre nosotros y los representantes de los diferentes ciclos de nuestra carrera Ingeniería en Sistemas.</p>
                </article>

                <!-- Autores -->
                <article id="nosotros">
                    <h2 class="major">Autores</h2>
                    <span class="image main"><img src='/images/portadas/foto.jpg' alt="" /></span>
                    <p>Esta revista ha sido creado por:<br><br>
                        Bryan Alberto Requenes Troya<br>
                        Estudiante de 4to ciclo de la Carrera de Ingeniería en Sistemas de la Universidad Nacional de Loja.<br>
                        email: bryan.requenes@unl.edu.ec<br>
                        cel: 0988564903<br><br>
                        Josué Fernando Ortega Jaramillo<br>
                        Estudiante de 4to ciclo de la Carrera de Ingeniería en Sistemas de la Universidad Nacional de Loja.<br>
                        email: josue.ortega@unl.edu.ec<br>
                        cel: 0979930876<br><br>
                        Franco Alexander Mendoza Guamán<br>
                        Estudiante de 4to ciclo de la Carrera de Ingeniería en Sistemas de la Universidad Nacional de Loja.<br>
                        email: franco.mendoza@unl.edu.ec<br>
                        cel: 0968353674
                    </p>
                </article>

                
                 <!-- Login -->
                <article id="login">
                    <h2 class="major">Login</h2>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-facebook"></a></li>
                        <li style="display: inline"><span class="button" id="facebook" href="/auth/facebook">Aceder como Usuario/Admin</span></li>
                        
                        <li><h6>*Obligatorio para administradores</h6></li>
                        <li><span></span></li>
                    </ul>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-user"></a></li>
                        <li style="display: inline"><span class="button" id="sinL">Continuar sin Logearse</span></li>
                    </ul>
                </article>

            </div>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright"><a>Proyecto Final de Programación ciclo 4 "B"</a>.</p>
            </footer>

        </div>

        <!-- BG -->
        <div id="bg"></div>

        <!-- Scripts -->

        <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
        <!-- metodo de Login en la pagina con gmail -->


        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyBHUy-kHhWZKJ-QL3NtJkMO2giQsaGyAk0",
                authDomain: "revista-ff832.firebaseapp.com",
                databaseURL: "https://revista-ff832.firebaseio.com",
                projectId: "revista-ff832",
                storageBucket: "revista-ff832.appspot.com",
                messagingSenderId: "885560839652"
            };
            firebase.initializeApp(config);

            document.getElementById("sinL").addEventListener("click", function () {

                window.location = "http://localhost:3000/home";


            });
            function IngresarFacebook() {
                if (!firebase.auth().currentUser) {

                    var provider = new firebase.auth.FacebookAuthProvider();


                    provider.addScope('public_profile');



                    firebase.auth().signInWithPopup(provider).then(function (result) {
                        var token = result.credential.accesstoken;
                        var user = result.user;
                        var firstname = user.first_name;
                        var lastname = user.last_name;
                        var foto = user.profile_pic;
                        window.location = "http://localhost:3000/home";
                        $.ajax({
                            url: '/guardar/usuario',
                            data: '&firstname=' + user,
                            success: function (data) {

                            }
                        });
                        

                    }).catch(function (error) {
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        var errorEmail = error.email;
                        var credential = error.credential;
                    });

                } else {
                    firebase.auth().signOut();
                }
            }
            document.getElementById("facebook").addEventListener("click", IngresarFacebook, false);



        </script>

        <script src='/javascripts/jquery.min.js'></script>
        <script src='/javascripts/browser.min.js'></script>
        <script src='/javascripts/breakpoints.min.js'></script>
        <script src='/javascripts/util.js'></script>
        <script src='/javascripts/main.js'></script>

    </body>
</html>
                
                
                
               