<style>
    body{
        background: url('http://imagenes.universia.net/gc/net/images/educacion/-/-b/-bi/-bibliotecas-digitales.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }  
</style>
<div class="container">
    <div class="row">
        <div id="flipbook">
            <div class="hard"> Turn.js </div> 
            <div class="hard"></div>
            <div> 
                <h3>
                    HBO quiere ser como Netflix y Netflix no quiere parecerse a nadie (Despeja la X, 1x11)
                </h3>
                <p>
                    Se avecinan unos años muy interesantes en lo que a contenidos y servicios de vídeo bajo demanda se refiere. Lejos quedan los tiempos en los que sólo había un actor potente en el mercado, el propio Netflix. Ahora tenemos a HBO, a la que se avecinan cambios importantes. A Amazon, con su gran gran apuesta (en términos económicos) para rivalizar con Netflix. Y otras como Apple y también Disney que irrumpirán en el mercado próximamente.

                    En el nuevo capítulo de hoy de Despeja la X hablamos precisamente de todo esto e intentamos dar respuestas a las incógnitas que este nuevo escenario audiovisual nos plantea. Y, además, tenemos una buena noticia: ya puedes escucharnos en Spotify y, como siempre, desde este mismo artículo:
                    Para el episodio de hoy nos acompañan dos auténticas expertas en todo lo que tiene que ver con televisión y derechos audiovisuales: Adriana Izquierdo (@Adriii) y Marina Such (@MarinaSuch), colaboradoras de Xataka. A los mandos y con la batuta de la dirección tenemos a nuestro compañero Santi Araujo (@SantiAraujo).
                </p>
            </div>
            <div> Page 2 </div>
            <div> Page 3 </div>
            <div> Page 4 </div>
            <div class="hard"></div>
            <div class="hard"></div>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a href="/" class="btn-floating btn-large red">
        <i class="large material-icons">highlight_off</i>
    </a>
</div>
<!--
-->
<script  type="text/javascript" src="/javascripts/lib/turn.min.js"></script>
<script type="text/javascript">
    $("#flipbook").turn({
        width: 800,
        height: 600,
        autoCenter: true
    });
</script>